@import './bootstrap-grid.min.css';


@font-face {
  font-family: 'Proxima';
  src: url('../fonts/ProximaNova-Light/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNova-Light/ProximaNova-Light.woff2') format('woff2'),
      url('../fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'),
      url('../fonts/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype'),
      url('../fonts/ProximaNova-Light/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Proxima';
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff2') format('woff2'),
      url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
      url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype'),
      url('../fonts/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'),
      url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Proxima';
  src: url('../fonts/ProximaNova-Medium/proxima-nova-medium.eot');
  src: url('../fonts/ProximaNova-Medium/proxima-nova-medium.woff2') format('woff2'),
      url('../fonts/ProximaNova-Medium/ProximaNova-Medium.woff') format('woff'),
      url('../fonts/ProximaNova-Medium/ProximaNova-Medium.ttf') format('truetype'),
      url('../fonts/ProximaNova-Medium/ProximaNova-Medium.svg#ProximaNova-Medium') format('svg'),
      url('../fonts/ProximaNova-Medium/proxima-nova-medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima';
  src: url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff2') format('woff2'),
      url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'),
      url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf') format('truetype'),
      url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}




@font-face {
  font-family: 'Proxima';
  src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff2') format('woff2'),
      url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
      url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype'),
      url('../fonts/ProximaNova-Bold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Proxima';
  src: url('../fonts/ProximaNova-Black/ProximaNova-Black.eot');
  src: url('../fonts/ProximaNova-Black/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNova-Black/ProximaNova-Black.woff2') format('woff2'),
      url('../fonts/ProximaNova-Black/ProximaNova-Black.woff') format('woff'),
      url('../fonts/ProximaNova-Black/ProximaNova-Black.ttf') format('truetype'),
      url('../fonts/ProximaNova-Black/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}


*{
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'Proxima', sans-serif;
  font-weight: 400;
}

body{
  font-family: 'Proxima', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  height: 100%;
  background: #333333 url('../images/weather.jpg') no-repeat center;
  background-size: cover;
}
.main-wrapper{
  min-height: 100vh;
}

a,a:hover,a:active{
  text-decoration: none;
}

.text-grey{
  color: #929296;
}
.text-center{
  text-align: center;
}
.fw-300{
  font-weight: 300;
}
.fw-400{
  font-weight: 400;
}
.fw-500{
  font-weight: 500;
}
.fw-600{
  font-weight: 600;
}
.fw-700{
  font-weight: 700;
}
.h-100{
  height: 100%;
}
.w-100{
  width: 100%;
}
.top-block{
  background-color: rgba(17,17,17, 0.4);
}
.bottom-block{
  padding-top: 20px;
}
.weekdays .day-col{
  position: relative;
}
.weekdays .day-col:not(:last-child)::before{
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background: linear-gradient(to bottom, #131313,#616161,#131313 );
}

.chart-title{
  color: #dddddd;
  font-size: 26px;
}
.info-title{
  color: #eeeeee;
  font-size: 26px;
}
.extra-box{
  background-color: rgba(40,40,40, 0.7);
  border-radius: 7px;
  padding: 25px 10px;
  color: #b7b7b7;
}
.extra-box img{
  display: inline-block;
  max-width: 100%;
  width: 40px;
  margin-bottom: 10px;
}

/* Spinner */
.spinner-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #1E1E1E;
  z-index: 1;
}
.spinner-wrapper .spinner-border{
  height: 60px;
  width: 60px;
  border: 6px solid #666666;
  border-right-color: #eeeeee;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}

/*Skeleton Placeholer */
@keyframes placeHolderShimmer{
  0%{
      background-position: -500px;
  }
  100%{
      background-position: 500px;
  }
}

.skeleton {
  /* animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear; */
  /* background: linear-gradient(to right, #333333, #252525, #333333); */
  background: #353535;
  background-size: 500px;
  position: relative;
  margin-bottom: 12px;
}
.skeleton.skeleton-circle{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.h-12{
  height: 12px;
}
.h-16{
  height: 16px;
}
.h-20{
  height: 20px;
}

.w-90{
  width: 90%;
}
.w-80{
  width: 80%;
}
.w-70{
  width: 70%;
}
.w-60{
  width: 60%;
}
.w-50{
  width: 50%;
}
.w-40{
  width: 40%;
}
.w-30{
  width: 30%;
}




/* Icons style */

.icon {
  position: relative;
  display: inline-block;
  width: 10em;
  height: 10em;
  font-size: 0.75em; /* control icon size here */
}

.cloud {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 3.6875em;
  height: 3.6875em;
  margin: -1.84375em;
  background: #1f1f1f;
  border-radius: 50%;
  box-shadow:
    -2.1875em 0.6875em 0 -0.6875em #1f1f1f,
    2.0625em 0.9375em 0 -0.9375em #1f1f1f,
    0 0 0 0.375em #fff,
    -2.1875em 0.6875em 0 -0.3125em #fff,
    2.0625em 0.9375em 0 -0.5625em #fff;
}
.cloud:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -0.5em;
  display: block;
  width: 4.5625em;
  height: 1em;
  background: #1f1f1f;
  box-shadow: 0 0.4375em 0 -0.0625em #fff;
}
.cloud:nth-child(2) {
  z-index: 0;
  background: #fff;
  box-shadow:
    -2.1875em 0.6875em 0 -0.6875em #fff,
    2.0625em 0.9375em 0 -0.9375em #fff,
    0 0 0 0.375em #fff,
    -2.1875em 0.6875em 0 -0.3125em #fff,
    2.0625em 0.9375em 0 -0.5625em #fff;
  opacity: 0.3;
  transform: scale(0.5) translate(6em, -3em);
  animation: cloud 4s linear infinite;
}
.cloud:nth-child(2):after { background: #fff; }


.mist .line {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 3.6875em;
  height: 3.6875em;
  margin: -1.84375em;
  background: #1f1f1f;
  border-radius: 50%;
  box-shadow:
    -2.1875em 0.6875em 0 -0.6875em #1f1f1f,
    2.0625em 0.9375em 0 -0.9375em #1f1f1f,
    0 0 0 0.375em #fff,
    -2.1875em 0.6875em 0 -0.3125em #fff,
    2.0625em 0.9375em 0 -0.5625em #fff;
}
.mist .line::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: -0.5em;
  display: block;
  width: 4.5625em;
  height: 1em;
  background: #1f1f1f;
  box-shadow: 
    0 0.4375em 0 -0.0625em #fff, 
    -0.7em 1.4375em 0 -0.4em #fff, 
    1em 2em 0 -0.4em #fff;
  animation: mist 4s infinite linear both;
}

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  margin: -1.25em;
  background: #1f1f1f;
  border-radius: 50%;
  box-shadow: 0 0 0 0.375em #fff;
  animation: spin 12s infinite linear;
}
.sun:hover{
  animation-play-state: running;
}
.rays {
  position: absolute;
  top: -2em;
  left: 50%;
  display: block;
  width: 0.375em;
  height: 1.125em;
  margin-left: -0.1875em;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #fff;
}
.rays:before,
.rays:after {
  content: '';
  position: absolute;
  top: 0em;
  left: 0em;
  display: block;
  width: 0.375em;
  height: 1.125em;
  transform: rotate(60deg);
  transform-origin: 50% 3.25em;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #fff;
}
.rays:before {
  transform: rotate(120deg);
}
.cloud + .sun {
  margin: -2em 1em;
}

.rain,
.lightning,
.snow {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 3.75em;
  height: 3.75em;
  margin: 0.375em 0 0 -2em;
  background: #1f1f1f;
}

.rain:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 1.125em;
  height: 1.125em;
  margin: -1em 0 0 -0.25em;
  background: #0cf;
  border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
  box-shadow:
    0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
    -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
    -1.375em -0.125em 0 rgba(255,255,255,0.2);
  transform: rotate(-28deg);
  animation: rain 3s linear infinite;
}

.bolt {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.25em 0 0 -0.125em;
  color: #fff;
  opacity: 0.3;
  animation: lightning 2s linear infinite;
}
.bolt:nth-child(2) {
  width: 0.5em;
  height: 0.25em;
  margin: -1.75em 0 0 -1.875em;
  transform: translate(2.5em, 2.25em);
  opacity: 0.2;
  animation: lightning 1.5s linear infinite;
}
.bolt:before,
.bolt:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: -1.625em 0 0 -1.0125em;
  border-top: 1.25em solid transparent;
  border-right: 0.75em solid;
  border-bottom: 0.75em solid;
  border-left: 0.5em solid transparent;
  transform: skewX(-10deg);
}
.bolt:after {
  margin: -0.25em 0 0 -0.25em;
  border-top: 0.75em solid;
  border-right: 0.5em solid transparent;
  border-bottom: 1.25em solid transparent;
  border-left: 0.75em solid;
  transform: skewX(-10deg);
}
.bolt:nth-child(2):before {
  margin: -0.75em 0 0 -0.5em;
  border-top: 0.625em solid transparent;
  border-right: 0.375em solid;
  border-bottom: 0.375em solid;
  border-left: 0.25em solid transparent;
}
.bolt:nth-child(2):after {
  margin: -0.125em 0 0 -0.125em;
  border-top: 0.375em solid;
  border-right: 0.25em solid transparent;
  border-bottom: 0.625em solid transparent;
  border-left: 0.375em solid;
}

.flake:before,
.flake:after {
  content: '\2744';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.025em 0 0 -1.0125em;
  color: #fff;
  opacity: 0.2;
  animation: spin 8s linear infinite reverse;
}
.flake:after {
  margin: 0.125em 0 0 -1em;
  font-size: 1.5em;
  opacity: 0.4;
  animation: spin 14s linear infinite;
}
.flake:nth-child(2):before {
  margin: -0.5em 0 0 0.25em;
  font-size: 1.25em;
  opacity: 0.2;
  animation: spin 10s linear infinite;
}
.flake:nth-child(2):after {
  margin: 0.375em 0 0 0.125em;
  font-size: 2em;
  opacity: 0.4;
  animation: spin 16s linear infinite reverse;
}


/* Animations */ 

@keyframes spin {
  100% { transform: rotate(360deg); }
}

@keyframes cloud {
  0% { opacity: 0; }
  50% { opacity: 0.3; }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-200%, -3em);
  }
}

@keyframes mist{
  50%{
    box-shadow: 
    0 0.4375em 0 -0.0625em #fff, 
    1em 1.4375em 0 -0.4em #fff, 
    -0.7em 2em 0 -0.4em #fff;
  }
  100%{
    box-shadow: 
    0 0.4375em 0 -0.0625em #fff, 
    -0.7em 1.4375em 0 -0.4em #fff, 
    1em 2em 0 -0.4em #fff;
  }
}

@keyframes rain {
  0% {
    background: #0cf;
    box-shadow:
      0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
      -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
      -1.375em -0.125em 0 #0cf;
  }
  25% {
    box-shadow:
      0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
      -0.875em 1.125em 0 -0.125em #0cf,
      -1.375em -0.125em 0 rgba(255,255,255,0.2);
  }
  50% {
    background: rgba(255,255,255,0.3);
    box-shadow:
      0.625em 0.875em 0 -0.125em #0cf,
      -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
      -1.375em -0.125em 0 rgba(255,255,255,0.2);
  }
  100% {
    box-shadow:
      0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
      -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
      -1.375em -0.125em 0 #0cf;
  }
}

@keyframes lightning {
  45% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
  50% {
    color: #0cf;
    background: #0cf;
    opacity: 1;
  }
  55% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
}

.animate .icon *,
.animate .icon *::after,
.animate .icon *::before{
  animation-play-state: paused !important;
}
.animate:hover .icon *,
.animate:hover .icon *::after,
.animate:hover .icon *::before{
  animation-play-state: running !important;
}